<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>WorkDay3</title>
</head>

<body>
    <div class="header">
        <ul>
            <li><a href="#stats">Statistics</a></li>
            <li><a href="#highlights">Highlights</a></li>
            <li><a href="#photos">Photos</a></li>
            <li><a href="#register">Register</a></li>
        </ul>
    </div>
    <div id="main_block" class="people_block">
        <div class="person flip-card" v-for="(result,index) in results">
            <div class="card-inner" id="card-inner">
                <div class="card-front">
                    <a :href="result.wikipedia_url" target="_blank">
                        <img :src="result.avatar" v-bind:alt="results">
                        <p> Number: {{ result.number }} </p>
                        <p> Name: {{ result.first_name }} {{ result.last_name }} </p>
                    </a>
                </div>
                <div class="card-back">
                    <form action="" id="change_form">
                        <input type="number" placeholder="Новый номер" v-model="obj.number" required><br>
                        <input type="text" placeholder="Новое имя"  v-model="obj.first_name" required><br>
                        <input type="text" placeholder="Новая фамилия"  v-model="obj.last_name" required><br>
                        <input type="text" placeholder="Новая ссылка на картинку"  v-model="obj.avatar" required><br>
                        <input type="url" placeholder="Новая ссылка на страницу"  v-model="obj.wikipedia_url" required><br>
                    </form>
                    <button class="button" form="change_form" @click="putRequest(index)">Изменить</button>
                </div>
            </div>
        
            <button type="button" class="btn change" id="change_button" onclick="changeInfo(index)">change</button>
            <button  type="button" class="btn" @click="del(index)">delete</button>
            
        </div>

        <div class="add_player_form">
            <center><h3>Добавление игрока</h3></center>
            <form id="form">
                <label for="number">Игровой номер</label><input id="number" v-model="obj.number" type="number" class="menu" placeholder="1" required><span></span><br>
                <label for="name">Имя</label><input id="name" v-model="obj.first_name" type="text" class="menu" placeholder="Иван" required><span></span><br>
                <label for="surname">Фамилия</label><input id="surname" v-model="obj.last_name" type="text" class="menu" placeholder="Иванов" required><span></span><br>
                <label for="image">Ссылка URL на картинку</label><input id="image" v-model="obj.avatar" type="url" class="menu" placeholder="https://ak-static.cms.nba.com/wp-content" required><span></span><br>
                <label for="wikipedia">Ссылка на страницу в википедии</label for=""><input id="wikipedia" v-model="obj.wikipedia_url" type="url" class="menu" placeholder="https://ru.wikipedia.org/wiki/name" required><span></span><br>
            </form>
    
            <button class="button" form="form" @click="postRequest">Добавить игрока</button>

        </div>
        
        
    </div>

      
    <!-- <script type="text/x-template" id="modal">
      
        <transition name="modal-fade" id="app">
            <div class="modal-backdrop" role="dialog">
                <div class="modal" ref="modal">
                    <header class="modal-header">
                        <slot name="header">
                            <h2>Изменение информации</h2>
                            <button type="button" class="btn-close btn-right" @click="close" aria-label="Close modal">x</button>
                        </slot>
                    </header>
      
                    <section class="modal-body">
                        <slot name="body">
                            <form action="" id="change_form">
                                <input type="number" placeholder="Новый номер" value=""><br>
                                <input type="text" placeholder="Новое имя" value=""><br>
                                <input type="text" placeholder="Новая фамилия" value=""><br>
                                <input type="text" placeholder="Новая ссылка на картинку" value=""><br>
                                <input type="url" placeholder="Новая ссылка на страницу" value=""><br>
                            </form>
                            <button class="button" form="change_form" @click="">Изменить</button>
                        </slot>
                    </section>
      
                    <footer class="modal-footer">
                        <slot name="footer">
                            <button type="button" class="btn" @click="close" aria-label="Close modal">Отмена</button>
                        </slot>
                    </footer>
                </div>
            </div>
        </transition>
    </script> -->

    <script src="work3.js"></script>

</body>

</html>