body {
    margin: 0;
    padding: 0;
}

#people {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.person {
    font-family: 'Montserrat', sans-serif;
    /* border: 2px solid black; */
    text-align: center;
    min-width: 260px;
    width: 30%;
    margin: 30px 0;
    padding: 10px 0;
}

.btn {
    font-size: 16px;
}


/* Header */
.header {}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover {
    background-color: #111;
}


/* Register field */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.block {
    width: 50%;
    margin: 0 auto;
}

#form {
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 10px;
    position: relative;
}

p {
    font-weight: bold;
    margin: 10px 0;
}
label {
    display: inline-block;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    width: 100px;
}

.menu {
    width: 150px;
}

.menu:invalid+span:after {
    content: '\2718';
    color: red;
    margin-left: 7px;
}

.menu:valid+span:after {
    content: '\2714';
    color: green;
    margin-left: 7px;
}

.button {
    width: 100%;
    text-align: center;
    background: lightgrey;
    border-radius: 5px;
    padding: 10px 0;
}

.qwe {
    border: 1px solid green;
    width: 180px;
    border-radius: 50px;
    background: linear-gradient(to bottom, green, lightgreen, green);
    line-height: 2em;
    margin: 0;
    font-weight: normal;
}

#button {
    display: none;
}

#form label:nth-of-type(3n) {
    margin-bottom: 30px;
}